.blog-header {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.blog-header a {
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Barrio', cursive;
}

header {
    background-image: linear-gradient(rgba(0, 0, 0 , .3), rgba(0, 0, 0, .3)), url(img/headerBackground.jpeg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}



h1 {
    font-family: 'Barrio', cursive;
    color: #fff;
    font-size: 200%;
    font-weight: 200;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 3px;
    margin: 0;
    margin-bottom: 10px;
}

.btn:link,
.btn:visited {
    display: inline-block;
    padding: 10px; 20px;
    font-weight: 300;
    border-radius: 150px;
    border: 1px solid #e67e22;
    transition: background-color 0.5s, border 0.5s, color 0.5s;
}

.btn:hover,
.btn:active {
    background-color: #e67e22;
}

h3 {
    font-family: Arial, Helvetica, sans-serif;
}

h5 {
    color: blue;
}


.listOne {
    font-family: 'Indie Flower', cursive;
}

.logo {
    height: 150px;
    width: auto;
    float: left;
}

.main-nav {
    float: right;
    list-style: none;
    margin-right: 100px;
}

.main-nav li {
    display: inline-block;
    margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited {
    padding: 5px 0;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Barrio', cursive;
    font-size: 110%;
    color: snow;
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid #e67e22; 
}

[class*='col-'] {
  float: left;
  padding-right: 20px;
}

.col-1-4 {
  width: 23%;
}

section {
    padding: 40px 0;
}

*/

/* ----------This is OLD CODE-------------- */
/*
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Barrio', cursive;
}

.btn-full:link,
.btn-full:visited {
    background-color: #e67e22;
    border: 1px solid #e67e22;
}

.btn-ghost:link,
.btn-ghost:visited {
    border: 1px solid #e67e22;
}

.btn-ghost:hover,
.btn-ghost:active {
    background-color: #e67e22;
}

.btn-full:hover,
.btn-full:active {
    background-color: #e67e22;
}

.btn-baby:hover,
.btn-baby:active {
    background-color: #e67e22;
}
*/